*
{
    text-align: center;
}
body{
    background:lightseagreen;
}

.contain {margin: 3% 25%;border:2px solid black}
table
{
    width:100%;
    border: 2px solid white;
}

.grid
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}